body{
    background-image: url(gifs/Космос.gif) ;background-position-x: center;background-attachment: fixed; font-family: Arial, Helvetica, sans-serif;

}
.div1{
    transition-duration: 3s;
    width: 300px;
    height: 50px;
    background-color: black;
    margin: 2px;
    padding: 5px;
    text-align: center;
    font-size: 24px;
    float:left;
    overflow: hidden;
}
.div1:hover{
    transition-duration: 3s;
    font-weight: 400;
    height: auto;
    float: none;
    border-radius: 25%;
    width: 40%;
    color: white;
    cursor:pointer;
}
.div1 img{
    width: 100%;
}
.div1 div{
    display: none;
}
.div1:hover div{
    display: block;
}
.zaglav{
    border: 2px solid black;
    border-radius: 10%;
    margin: 1px 30%;
     width: 500px;
      background:gray; 
      padding: 5px;
       text-align: center ; 
       font-size: 50px ;
       color: whitesmoke
}
.berserk{
overflow: scroll;
    width: 600px;
height: 40px;
background-color: black;
color: white;
margin-top: 10%;
border: 2px solid white;
text-align: center;
margin-left: 25%;

}
.berserk:hover{
height: 300px;
cursor: pointer;
}